Gangtic-Phone/data/rooms.txt
Gangtic-Phone/data/answers.txt
Gangtic-Phone/data/game_log/game_log_1.txt
Gangtic-Phone/data/game_log/game_log_2.txt
Gangtic-Phone/data/game_log/game_log_3.txt
Gangtic-Phone/data/game_log/game_log_4.txt
Gangtic-Phone/running_game/result_1.txt
Gangtic-Phone/running_game/result_2.txt
Gangtic-Phone/running_game/result_3.txt
Gangtic-Phone/running_game/result_4.txt
Gangtic-Phone/client
Gangtic-Phone/server